<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/users/register" method="POST">
        <input type="text" name="email" />
        <input type="password" name="password" />
        <button type="submit">Register</button>
    </form>
  </body>
</html>
