// -------------------------- colors -------------------------- //

$color-white: #ffffff;
$color-darker: #2e2e2e;
$color-dark: #646464;
$color-mid: #9a9a9a;
$color-light: #f7f7f7;

$color-primary: rgb(211, 133, 119);
$color-primary-light: rgb(243, 223, 209);

$color-secondary: rgb(67, 131, 160);
$color-secondary-light: rgb(225, 233, 242);
