// -------------------------- colors -------------------------- //

$color-white: #ffffff;
$color-darker: #2e2e2e;
$color-dark: #646464;
$color-mid: #9a9a9a;
$color-light: #f7f7f7;

$color-quentin: #9fd1ea;
$color-solene: #ea9faa;

$color-primary: #ff8a9b;
$color-secondary: #5aa9cc;
